@model IEnumerable<SaleDatabase.Models.SaleListItem>

@{
    ViewBag.Title = "Index";
}

    <div class="container col-md-8">
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        @if (TempData.ContainsKey("SaveResult"))
        {
            <div class="alert alert-success fade in" role="alert">

                <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
                @TempData["SaveResult"]
            </div>
        }
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SaleID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.SalePrice)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.CreatedUtc)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.Company.CompanyName)

                </th>
                <th align="center">Options</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SaleID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                       $ @Html.DisplayFor(modelItem => item.SalePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedUtc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company.CompanyName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.SaleID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.SaleID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.SaleID })
                    </td>
                </tr>
            }

        </table>
    </div>